@import "/plugins/bootstrap-5.0.0-beta1-dist/css/bootstrap.css";

:root {
  --home-header-color: navy;
  --home-header-color-1: rgba(86,18,0,0.9);
  --home-header-color-2: rgba(154,114,0,0.9);
  --brand-blue: #0a5189;
  --deeper-brand-blue: #1a417b;
  --lighter-brand-blue: #0daccc;
  --tr-deeper-brand-blue: rgba(26,65,123,0.8);
  --tr-deeper-brand-red: hsla(348,100%,18.75%,0.8);
  --brand-font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
  --dark-background: #212529;
}

* {
	min-height: 0;
	min-width: 0;
}

hr {
  background: white;
}

body {
  background: url("/img/lords_of_exile/page_bg_generated_v6b.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.navbar {
  background: transparent;
}

.homepage-header {
  min-height: 50vh;
  /*background: linear-gradient(var(--home-header-color-1), var(--home-header-color-2));*/
  background: var(--home-header-color);
}

.homepage-header .left-box {
  color: #eee;
  background-color: rgba(0,0,0,0.3);
  background-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0) 50%), url("/img/8_bit_game.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  clip-path: polygon(
    0 0, /* left top */
    100% 0, /* right top */ 
    100% 100%, /* right bottom */
    0 calc(100% - 3vw) /* left bottom */
  );
}

.homepage-header .box {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage-header .left-box h1 {
  background: #000;
  border: 5px solid white;
  padding: 3px;
}

.homepage-header .links a {
  color: lightblue;
  background: #000;
  border: 2px solid orange;
  text-decoration: none;
  padding: 2px 10px;
  margin: 5px;
}

.homepage-header .links a:hover {
  background: orange;
  color: navy;
}

.homepage-content .coming-soon {
  font-size: 16px;
  background: green;
  padding: 5px;
  padding-top: 2px;
}

.lords-of-exile a.title {
  text-decoration: none;
  color: aliceblue;
}

.lords-of-exile a.title:hover {
  color: lightgray;
}

.lords-of-exile .gif {
  /*border-radius: 50%;*/
  width: 200px;
  height: 200px;
  background: radial-gradient(circle, #004765 0%, #004765 50%, rgba(255,255,255,0.2) 50%, rgba(125,0,0,0) 58%);
}

.a-btn {
  color: navy;
  background: orange;
  text-decoration: none;
  padding: 5px 15px;
}

.a-btn:hover {
  background: #825503;
  color: white;
}

a.view-more {
  color: lightblue;
}

@media screen and (min-width: 768px) {
  .homepage-header {
    min-height: 50vh;
    /*background: linear-gradient(to right, var(--home-header-color-1), var(--home-header-color-2));*/
  }
  .homepage-header .left-box {
    clip-path: polygon(
      0 0, /* left top */
      100% 0, /* right top */ 
      calc(100% - 3vh) 100%, /* right bottom */
      0 100% /* left bottom */
    );
  }
  .homepage-header .box {
    width: 50%;
    min-height: auto;
  }
}
