{{ define "main" }}
  <main aria-role="main">
    <header class="homepage-header d-flex flex-column flex-md-row">
      <div class="box left-box h-25vh">
        <h1 class="fs-1 text-uppercase">{{.Title}}</h1>
        {{ with .Params.subtitle }}
        <span class="subtitle">{{.}}</span>
        {{ end }}
        <div class="links mt-4">
          <a href="https://twitter.com/CZAzuaga" target="_blank" link="noreferrer">Twitter: @CZAZUAGA</a>
          <a href="https://discordapp.com/invite/xb26HZD" target="_blank" link="noreferrer">Discord</a>
        </div>
      </div>
      <div class="box right-box h-25vh p-3">
        {{/*<a class="twitter-timeline"
          href="https://twitter.com/CZAzuaga?ref_src=twsrc%5Etfw"
          data-height="450"
          data-theme="dark">Loading latest tweets...</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>*/}}
      </div>
    </header>
    <div class="homepage-content">
      <div class="container lords-of-exile py-4 text-light">
        <div class="row my-5">
          <div class="col-12">
            <h1 class="text-center"><a class="d-inline-flex align-items-center justify-content-center title" href="{{.Params.loe.link}}">{{.Params.loe.title}}{{if not .Params.loe.launched}} <span class="ms-2 coming-soon">coming soon</span>{{end}}</a></h1>
            <div class="row pt-4 justify-content-center">
              {{ $posts := gt (len (where .Site.Pages "Section" "lords-of-exile")) 1 }}
              <div class="col-12 {{if $posts}}col-lg-7{{else}}col-lg-10{{end}}">
                <div class="text-center">
                  <div class="gif d-inline-block float-none float-md-end">
                    <img class="img-fluid" src="{{.Params.loe.thumbnail}}">
                  </div>
                  <p class="text-start mt-2 mt-md-0">{{.Params.loe.desc}} <a class="lightblue" href="{{.Params.loe.link}}">View more</a></p>
                </div>
                <h5>For all the information for press, see the press kit</h5>
                <a class="a-btn presskit" href="{{.Params.loe.pressKitLink}}">Press kit</a>
              </div>
              {{ if $posts }}
              <div class="col-12 col-lg-5 my-4 my-md-0">
                  <h2 class="text-center">Latest posts</h2>
                  {{ range where (where .Site.Pages "Section" "lords-of-exile") ".IsSection" "!=" true }}
                    <a class="lightblue" href="{{.Permalink}}">{{.Title}} - {{.PublishDate.Format "January 2, 2006"}}</a>
                  {{ end }}
              </div>
              {{ end }}
            </div>
          </div>
        </div>
        <hr />
        <div class="row my-5">
          <div class="col-12">
            <h1 class="d-flex align-items-center justify-content-center text-light">ChameleApp</h1>
            <div class="row content justify-content-center align-items-center">
              <div class="col-12 text-center">
                <p>{{.Params.chameleApp.desc}} <a class="view-more" href="{{.Params.chameleApp.link}}">View more</a></p>
              </div>
              <div class="col-12 text-center">
                <img class="img-fluid" src="{{.Params.chameleApp.thumbnail}}">
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="row content my-5">
          <div class="col-12">
            <h1 class="text-center my-3">About us</h1>
            <p>{{.Content}}</p>
          </div>
        </div>
        <hr />
        <div class="row my-5">
          <div class="col-12">
            <h1 class="d-flex align-items-center justify-content-center text-light my-3">The team</h1>
            <div class="row justify-content-around">
            {{ range .Params.team }}
              <div class="col-12 col-sm-6 col-md-4">
                <div class="card w-100 bg-secondary">
                  <div class="text-center">
                    <img src="{{.pic}}" class="card-img-top bg-transparent" alt="{{.name}}" style="max-width: 160px;">
                  </div>
                  <div class="card-body bg-dark text-light">
                    <h5 class="card-title text-center">{{.name}}</h5>
                    <p class="text-center mb-1"><em>{{.role}}</em></p>
                    <p class="card-text">{{.desc}}</p>
                    <a href="{{.twitterLink}}" class="btn btn-primary">{{.twitterDesc}}</a>
                  </div>
                </div>
              </div>
            {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{{ end }}
