{{ define "title" }}
  {{ .Site.Title }} &ndash; {{ .Params.Title }}
{{ end }}

{{ define "main" }}
  <main aria-role="main" class="text-light loe-container">
    <header class="d-flex justify-content-center align-items-center">
    </header>
    <div class="container my-4">
      <div class="row justify-content-center">
        <div class="col-12">
          <h1 class="d-flex align-items-center justify-content-center mt-3 mb-4">{{.Params.Title}}{{if not .Params.launched}}<span class="ms-2 coming-soon">coming soon</span>{{end}}</h1>
          <!-- Carousel -->
          <div class="row justify-content-center mb-2">
            <div class="col-12 col-md-10 p-0">
              <div class="row m-0 main-slider w-100">
                <div class="iframe-container">
                  <iframe src="{{.Params.youtube }}" allowfullscreen id="player"></iframe>
                </div>
                {{ range .Params.slides }}
                  <img src="{{.screenshot}}" class="img-fluid w-100">
                {{ end }}
              </div>
            </div>
          </div>
          <!-- Carousel navigation -->
          <div class="row justify-content-center">
            <div class="col-12 col-md-10 p-0">
              <div class="row justify-content-between slider-nav-container w-100 m-0">
                <button class="col-1 prev-button btn btn-dark" aria-label="Previous" type="button" style="display: block;"><i class="bi-caret-left-fill d-flex align-items-center justify-content-center fs-3 fs-lg-2"></i></button>
                <div class="col-10 slider-nav px-0">
                  <img src="{{.Params.youtube_miniature}}" class="img-fluid px-1">
                  {{ range .Params.slides }}
                  <img src="{{.screenshot}}" class="img-fluid px-1">
                  {{ end }}
                </div>
                <button class="col-1 next-button btn btn-dark" aria-label="Next" type="button" style="display: block;"><i class="bi-caret-right-fill d-flex align-items-center justify-content-center fs-3 fs-lg-2"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-9 px-0 mt-4">
          <a href="{{.Params.wishlistLink}}"><img src="{{.Params.wishlistPic}}" class="img-fluid wishlist"></a>
        </div>
        <div class="col-12 col-md-10 my-5 content">
          <h2>Story</h2>
          {{ .Params.story | safeHTML }}
          {{ range .Params.features }}
          <div class="row feature my-5 align-items-center">
            <div class="col-12">
              <h2>{{.title}}</h2>
            </div>
            <div class="col-12 col-xl-6 pics text-center mb-1">
              {{ range .screenshots }}
              <img src="{{.}}" class="img-fluid">
              {{ end }}
            </div>
            <div class="col-12 col-xl-6">
              {{ with .desc }}
              {{ . | safeHTML }}
              {{ end }}
              {{ if .items }}
              <ul>
                {{ range .items }}
                <li>{{.}}</li>
                {{ end }}
              </ul>
              {{ end }}
            </div>
          </div>
          {{ end }}
          {{.Content}}
        </div>
        <div class="col-12 col-md-10 mb-5">
          <h1 class="text-center mb-3 mb-md-5">Reviews and comments</h1>
          <div class="row justify-content-between">
          {{ range .Params.reviews }}
            <div class="col-12 col-xl-4 mb-2">
              <div class="card text-dark">
                <div class="card-header">
                  Review
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p>{{ .content | markdownify }}</p>
                  </blockquote>
                </div>
                <footer class="card-footer">{{.author.name | markdownify}} - <cite title="Source Title">{{.author.role | markdownify}}</cite></footer>
              </div>
            </div>
          {{ end }}
          </div>
        </div>
        <div class="col-12 col-md-10 mb-5">
          {{ if gt .Pages 0 }}
            <h1 class="text-center mb-3 mb-md-5" id="latest-posts">Latest posts</h1>
            {{ range .Pages }}
            <div class="card mb-3 bg-transparent border-light">
              <div class="row g-0">
                <div class="col-md-2 d-flex align-items-center justify-content-center">
                  {{$ctx := .}}
                  {{ with .Resources.GetMatch (printf "%s" .Params.thumbnail) }}
                    {{ $image := .Resize "582x421" }}
                    <img class="img-fluid" src="{{$image.RelPermalink}}" alt="thumbnail">
                  {{ end }}
                </div>
                <div class="col-md-10 bg-dark">
                  <div class="card-body">
                    <h5 class="card-title"><a href="{{.Permalink}}" class="lightblue">{{.Title}}</a></h5>
                    <p class="card-text">{{.Params.description}}</p>
                    <p class="card-text"><small class="text-muted">{{.PublishDate.Format "January 2, 2006"}}</small></p>
                  </div>
                </div>
              </div>
            </div>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </main>
{{ end }}

{{ define "script" }}
  <script>
    {{ if .Params.youtube }}
    // This code loads the IFrame Player API code asynchronously.
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // Create a YouTube player.
    var player;
    function onYouTubeIframeAPIReady() {
      player = new YT.Player('player', {
        events: {
          'onStateChange': onPlayerStateChange
        }
      });
    }
    {{ end }}
    $(document).ready(function() {
      // Setup slick slider.
      $('.main-slider').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        fade: true,
        asNavFor: '.slider-nav',
        draggable: false,
        autoplay: false,
        autoplaySpeed: 5000
      }).on('afterChange', () => {
        if (player && (player.getPlayerState() == YT.PlayerState.PLAYING)) {
          player.pauseVideo();
        }
        $('.main-slider').slick("slickPlay");
      });
      $('.slider-nav').slick({
        slidesToShow: 4,
        slidesToScroll: 4,
        asNavFor: '.main-slider',
        dots: false,
        centerMode: false,
        focusOnSelect: true,
        prevArrow: $('.prev-button'),
        nextArrow: $('.next-button'),
        responsive: [
          {
            breakpoint: 576,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2,
              infinite: true
            }
          }
        ]
      });
    });
    // The API calls this function when the player's state changes.
    // The function indicates that when pausing a video,
    // the slider should show the next slides (set autoplay),
    // and when playing a video, the slider should stop (unset autoplay).
    function onPlayerStateChange(e) {
      switch (e.data) {
      case YT.PlayerState.PAUSED:
        $(".main-slider").slick("slickPlay");
        break;
      case YT.PlayerState.PLAYING:
        $(".main-slider").slick("slickPause");
        break;
      }
    }
  </script>
{{ end }}

